@import url('https://fonts.googleapis.com/css2?family=Mea+Culpa&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width:90%;
    height: 100vh;
    margin: 25px auto;
    display: grid;
    grid-template-areas:'head head head'
                        'navbar navbar navbar'
                        'imgdiv imgdiv imgdiv'
                        'footer footer footer' ;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto 1fr 1fr auto ;
    gap:15px;

}
/* For Image display in the grid */
.imgdiv{

    display:grid;
    grid-area:imgdiv;
    grid-template-areas: 'img1 img2 img3'
                        'img4 img5 img6';
    grid-template-columns: 1fr 1fr 1fr;
    gap:30px;
}

/* Header section */
.head{
    grid-area:head;
}
.head{
    text-align: center;
    font-family: "Mea Culpa", cursive;
    font-size: 32px;
    color:#4a4a4a;
}

/* Navbar section */
.navbar{
    grid-area: navbar;
}
.navbar>a{
    text-decoration: none;
    font-family:"poppins",sans-serif;
    font-size:20px;
    color:#A3A3A3;
    margin:5px 0 10px 0;
}
.navbar>a:hover{
    color:blue;
}
.navbar{
    display: flex;
    justify-content: space-around;
}
/* Individual image  */
.img1{
    grid-area: img1;
    position: relative;
 
}
/* text on image */
.img-txt{
    position:absolute;
    bottom:40px;
    left:20px;
    font-family:"poppins",sans-serif;
    color:white;
}
.img-txt>a{
    text-decoration: none;
    margin-top: 20px;
    color:white;
    font-size: 14px;
    font-family:"poppins",sans-serif;
}
.img2{
    grid-area: img2;
    position:relative;
}
.img3{
    grid-area: img3;
    position:relative;

}
.img4{
    grid-area: img4;
    position:relative;
}
.img5{
    grid-area: img5;
    position:relative;
}
.img6{
    grid-area: img6;
    position:relative;
}
.images{
    border-radius: 15px;
    height: 300px;
    width:100%;
    object-fit: cover;
    cursor:pointer;
    filter:grayscale(100%);
    transition:1s;
    
}
.images:hover{
    transform:scale(1.1);
    filter:grayscale(0%);

}

/* Footer section */
.footer{
    grid-area: footer;
    border-top:1px solid #A3A3A3;
    margin-top: 10px;
}
.footer>h3{
    text-align: center;
    font-family: "Mea Culpa", cursive;
    font-size: 30px;
    color:#4a4a4a;
    margin-top: 10px;
}
.footer>p,.footer>a{
    font-family:"poppins",sans-serif;
    font-size:20px;
    text-align: center;
    color:#ccc;
    
}
.footer>p>a{
    text-decoration: none;
}

/* Media query for Mobile view */

@media only screen and (max-width: 640px) and (min-width:400px) {
    .head{
        font-size: 16px;
    }
    .navbar{
        font-size: 6px;
    }
    body{
        display: grid;
        grid-template-areas: 'head'
                            'navbar'
                            'imgdiv'
                            'footer';
        grid-template-columns: 1fr;
         }
         .imgdiv{
            display: grid;
            grid-area:imgdiv;
            
            width:100%;
            margin:20px 0;
            grid-template-areas: 'img1'
                                'img2'
                                'img3'
                                'img4'
                                'img5'
                                'img6';
            grid-template-columns: 1fr;
         }
         .img1{
            grid-area: img1;
            
        }
         .img2{
            grid-area: img2; 
        }
        .img3{
            grid-area: img3;
            
        }
        .img4{
            grid-area: img4;
            
        }
        .img5{
            grid-area: img5;
            
        }
        .img6{
            grid-area: img6;
            
        }
        .images:hover{
            transform:scale(1);
        
        }
        .footer{
            font-size: 12px;
        }
}

/* Media query for Tablet */

@media only screen and (max-width: 1024px) and (min-width:641px) {
    .head{
        font-size: 20px;
    }
    .navbar{
        font-size: 12px;
    }
    body{
        display: grid;
        grid-template-areas: 'head head'
                            'navbar navbar'
                            'imgdiv imgdiv'
                            'footer footer';
        grid-template-columns: 1fr 1fr;
         }
         .imgdiv{
            display: grid;
            grid-area:imgdiv;
            
            width:100%;
            margin:20px 0;
            grid-template-areas: 'img1 img2'
                                'img3 img4'
                                'img5 img6';
            grid-template-columns: 1fr;
         }
         .img1{
            grid-area: img1;
            
        }
         .img2{
            grid-area: img2; 
        }
        .img3{
            grid-area: img3;
            
        }
        .img4{
            grid-area: img4;
            
        }
        .img5{
            grid-area: img5;
            
        }
        .img6{
            grid-area: img6;
            
        }
        .images:hover{
            transform:scale(1);
        
        }
        .footer{
            font-size: 12px;
        }
}



